<!-- Card Section -->
<div class="socialMediaCard">
  <h2 class="project-name">Vortex</h2>
  <p class="tagline">
    Crea los mejores menús con <span class="vortex">Vortex</span>
  </p>

  <!-- Social Media Icons -->
  <div class="socialMedia-icons">
    <a
      href="https://www.facebook.com/share/1Aa8WVj6uQ/"
      target="_blank"
      aria-label="Facebook"
      rel="noopener noreferrer"
      class="social-icon facebook"
    >
      <lucide-icon name="Facebook"></lucide-icon>
    </a>
    <a
      href="https://www.instagram.com/vortex_dev.software.ni?igsh=MTBoNzkyMGE2MDg3bg=="
      target="_blank"
      aria-label="Instagram"
      rel="noopener noreferrer"
      class="social-icon instagram"
    >
      <lucide-icon name="Instagram"></lucide-icon>
    </a>
    <!-- <a
      href="https://www.tiktok.com/@vortex_dev.software.ni?_t=ZM-8wHaZebMS5n&_r=1"
      target="_blank"
      aria-label="TikTok"
      rel="noopener noreferrer"
      class="social-icon tiktok"
    >
    </a> -->
    <a
      href="https://vortexni.net"
      target="_blank"
      aria-label="vortexnic.net"
      rel="noopener noreferrer"
      class="social-icon tiktok"
    >
    <lucide-icon name="Globe"></lucide-icon>
    </a>
  </div>
</div>
