<header class="header">
  <div class="container">
    <div class="logo">
      <img src="assets/vortex-logo.png" alt="Logo del restaurante" />
      <h1>Mi Restaurante</h1>
    </div>

    <div class="header-actions">
      <app-theme-toggle></app-theme-toggle>

      <button class="carrito-btn" (click)="toggleCarrito()">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <circle cx="8" cy="21" r="1"></circle>
          <circle cx="19" cy="21" r="1"></circle>
          <path
            d="M2.05 2.05h2l2.66 12.42a2 2 0 0 0 2 1.58h9.78a2 2 0 0 0 1.95-1.57l1.65-7.43H5.12"
          ></path>
        </svg>
        <span>Carrito</span>

        <div
          class="badge"
          *ngIf="carritoService.obtenerCantidadItems() > 0"
          [@badgeAnimation]="animarCarrito"
        >
          {{ carritoService.obtenerCantidadItems() }}
        </div>
      </button>
    </div>
  </div>
</header>
