<div class="menu-digital">
  <app-header [title]="business?.name || 'name'" [logoUrl]="business?.logo || 'name'" (toggleCarritoEvent)="toggleCarrito()"></app-header>

  <!-- Banner del restaurante -->
  <div class="banner">
    <img
      [src]="business?.coverImage "
      alt="Banner del restaurante"
    />
    <div class="banner-content">
      <h2>Bienvenido a nuestro menú</h2>
      <h3>{{business?.name}}</h3>
      <p>Descubre nuestros deliciosos platillos</p>
    </div>
  </div>

  <!-- Contenido principal -->
  <main class="container">
    <!-- Categorías -->
    <div class="categorias">
      <ul>
        <li>
          <button
            [class.active]="categoriaActiva === 'todas'"
            (click)="cambiarCategoria('todas')"
          >
            Todas
          </button>
        </li>
        <li *ngFor="let categoria of categorias">
          <button
            [class.active]="categoriaActiva === categoria.id"
            (click)="cambiarCategoria(categoria.id ?? '')"
          >
            {{ categoria.nombre }}
          </button>
        </li>
      </ul>
      
    </div>

    <!-- Productos -->
    <div class="productos-grid" [@listAnimation]="productosFiltrados.length">
      <app-producto-card
        *ngFor="let producto of productosFiltrados"
        [producto]="producto"
        (agregar)="agregarAlCarrito($event)"
      >
      </app-producto-card>
    </div>
  </main>

    <!-- Sección de Mapa de Ubicación -->
    <app-location-map></app-location-map>

  <!-- Sección Quiénes Somos -->
  <app-about-us></app-about-us>

  <!-- Footer -->
  <app-footer></app-footer>

  <!-- Carrito -->
  <app-carrito
    [abierto]="carritoAbierto"
    (cerrar)="toggleCarrito()"
  ></app-carrito>
</div>
